<div class="row">
  <div class="col-md-6">
    <button type="button" class="btn btn-dark" (click)="back()">Back</button>
  </div>
</div>
<div class="text-center">
  <h2>Add Query</h2>
  <hr />
</div>
<div class="text-left"></div>

<div class="row text-center">
  <div class="col">
    <label for="name" class=""><h4>Enter Title</h4></label>
    <input
      type="text"
      class="form-control text-center"
      placeholder="query title"
      aria-label="name"
      [(ngModel)]="data.title"
    />
  </div>
</div>
<div class="col-12">
  <label for="inputAddress" class="form-label"
    ><h4>Enter Description Message</h4></label
  >
  <textarea
    class="form-control"
    aria-label="With textarea"
    [(ngModel)]="data.message"
  ></textarea>
</div>
<div class="col-12 text-center">
  <button type="button" class="btn btn-primary" (click)="addQuery()">
    Send Query
  </button>
</div>
